
<h1>Registration Form</h1>

<form [formGroup]="myForm" (ngSubmit)="save(myForm.value)">


	First name:<br> <input type="text" formControlName="firstName" name="firstName"> <br> 
		
		
		
		Last name:<br> <input
		type="text" formControlName="lastName" name="lastName"> <br>
	Mobile:<br> <input type="number" formControlName="mobile"
		name="mobile"> <br> Email:<br> <input type="email"
		formControlName="email" name="email"> <br> Password:<br>
	<input type="password" formControlName="password" name="password">
	<br>
	<br> <input type="submit" value="Submit">
</form>
