
<title>Books</title>



<h1>Books</h1>
<a routerLink="/addbook"><div class="button">Add Book</div></a>
<table>
  <tr>
    <th>Id</th>
    <th>Title</th>
    <th>Author</th>
  </tr>
  <tr *ngFor=" let book of books">
    <td><a href="">{{book.id}}</a></td>
   <td><a href=""> {{book.title}}</a></td>
    <td><a href="">{{book.author}}</a></td>
    <td> <button class="butttonE"  type="submit">Delete</button></td>
    <td> <button style="background-color: blue;" class="butttonE" type="submit">Edit</button></td>
  </tr>
  </table>



