

@charset "utf-8";
/* CSS Document */

.nav{
	    height: 322px;
width: 209px;
background: #FCFAE4;
padding-left: 7px;
padding-top: 1px;
margin-left: 56px;

}
	
	
	.img{
		height: 500px;
width: 300px;

float: right;
margin-top: -285px;

		}
		.imgg{
		height: 357px;
width: 468px;

float: right;
margin-top: 64px;
margin-right: 108px;


		}
		.nhead{
			     height: 40px;
    width: 200px;
   background-color: #dcdebc;
   
    margin-top: 0px;

}
.nhead p{color: #C40204;
margin-left: 49px;
font-weight: 600;
padding-top: 8px;}
ul{list-style: none;
margin-left: -13px;
margin-top:0px;
}

.line{
	height: 35px;
width: 202px;
border-bottom: solid #dcdebc 1px;
margin-left: -30px;

	}
	li{text-align: center;
padding-top: 5px;}
.line:hover{
	background:linear-gradient(red, #891818, #ff170e);
	color:#FFFFFF;
	}
	a{
		text-decoration:none;
		color:#000000;}
			