
<div>
	<div style="margin-left: 4px;">
		<ul>
			<a href="#"><div class="line">
					<li>profile</li>
				</div></a>
			<a routerLink="books"><div class="line">
					<li>Book</li>
				</div></a>
			<a href="#"><div class="line">
					<li>Issued Books</li>
				</div></a>
			<a routerLink="login"><div class="line">
					<li>Login</li>
				</div></a>
			<a routerLink="registration"><div class="line">
					<li>Register</li>
				</div></a>
			<a href="#"><div class="line">
					<li>Logout</li>
				</div></a>
		</ul>
	</div>


	<!--  <a routerLink="registration">Registration</a> <br /> 
	<a routerLink="books">Books</a> <br /> <a routerLink="login">Login</a>   -->